.titulo{
    color:rgba(14, 4, 90, 0.805);
}
#banner{
    width: 100%;
}
.principal{
    background: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center
}
p
{
    text-align: center;
    background:#cccccc
}
#missao{
    font-size: 20px
}
em strong {
    color: #ff0000;
}
.itens{
    font-style: italic
}
.beneficios{
    background: #ffffff;
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;

}